@import "tailwindcss";

@theme {
  --color-background: #000000; /* رجعناه Black حقيقي باش يبان الخضر واعر */
  --color-foreground: #fafafa;
  
  /* اللون السحري ديالنا */
  --color-terminal: #00FF41; 
}

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* التعديل على الاختيار (Selection) باش يجي مع الخضر */
::selection {
  background: var(--color-terminal);
  color: black;
}

